recursive-exclude build *
recursive-exclude dist *
recursive-exclude __deprecated__ *
exclude *.sh
exclude *.csv
exclude *.prof
exclude *.log
exclude *.log.*
exclude *.pdf
exclude *.xlsx
exclude dependencies.txt
exclude _*.py
