<!DOCTYPE html>
{% import asyncrpc.tornadoutil as util %}

<html>
<head>
    <meta charset="utf-8">
    <title>AsyncRpc v{{version}}</title>

    <!-- bootstrap stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=0.8"/>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/static/docutils/style.css" rel="stylesheet"/>
</head>

<body>
<!-- Fixed navbar -->
<!--<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AsyncRpc v{{version}}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <button type="button" class="btn btn-default" onclick="reload();">
                    Reload
                </button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Everything else -->
<div class="container-fluid">
    <br/>
    <br/>

    <!-- Default panel contents -->
    <div class="page-header">
        <h3>Class <em style="color: #245269;">{{ util.format_class(instance) }}</em></h3>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">publicly exposed API</div>
        <!-- Table -->
        <table class="table table-hover table-condensed">
            <thead>
            <tr class="active">
                <th>Name</th>
                <th>Asynchronous</th>
                <th>Arguments</th>
                <th>Documentation</th>
            </tr>
            </thead>
            <tbody>
            {% for i, (name, info) in enumerate(api.iteritems()) %}
            <tr class="{{ util.async_method_class(info) }}">
                <td style="color: #245269;"><strong>{{ name }}</strong></td>
                <td style="text-align: justify;">
                    {% if info[0] %}
                    <i class="glyphicon glyphicon-ok"></i>
                    {% else %}
                    <i class="glyphicon glyphicon-remove"></i>
                    {% end %}
                </td>
                <td>
                    <a data-toggle="collapse" href="#collapse{{i}}">
                        {{ util.format_description(info) }}
                    </a>

                    <div id="collapse{{i}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table-condensed borderless">
                                <tbody>
                                {% for k,v in info[1].iteritems() %}
                                {% if v %}
                                <tr>
                                    <td valign="top">{{ k }}</td>
                                    <td valign="top">
                                        <i class="icon-arrow-right"></i>
                                    </td>
                                    <td valign="top">{{ util.format_args(k, v) }}</td>
                                </tr>
                                {% end %}
                                {% end %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                <td>
                    {% if info[2] %}
                    <a data-toggle="collapse" href="#collapse_doc{{i}}">
                        {{ util.format_info(info) }}
                    </a>

                    <div id="collapse_doc{{i}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% raw info[2] %}
                        </div>
                    </div>
                    {% end %}
                    <!--{% raw info[2] %}-->
                </td>
            </tr>
            {% end %}
            </tbody>
        </table>
        <div class="panel-footer">
            <small><em>click the method names (and argumets) to reveal more details</em></small>
        </div>
    </div>
</div>


<div class="navbar-fixed-bottom" style="background-color: rgba(255, 255, 255, 0.7);">
    <div class="container">
        <p class="text-center text-muted credit">
            AsyncRpc v{{version}} by <a href="mailto:cosmin.basca@gmail.com">Cosmin Basca</a> &copy; University of
            Zurich.
        </p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-2.1.1.min.js"></script>
<!--<script src="/static/js/jquery-1.11.1.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="application/javascript">
    function reload() {
        window.location.href = "http://" + window.location.host + window.location.pathname;
    }
</script>
</body>
</html>
